{% extends 'base.html.twig' %}

{% block title %}
iTVPdownloader - by mGz
{% endblock %}

{% block content %}
<div class="span7">
	<div class="alert alert-info">
		<a class="close">×</a>
		<strong>Uwaga!</strong>Ta strona nie popiera piractwa. Służy tylko temu by ludzie, którzy płacą abonament a używają innych systemów niż Microsoft Windows. Mieli dostęp do materiałów publikowanych przez Telewizję Polską S.A. na stronie itvp.pl.
	</div>
{% if error|default(false) %}
	<div class="alert alert-error">
		<a class="close">×</a>
		<strong>Error</strong><p>Nie udało się znaleźć filmu na podanej przez Ciebie stronie!</p><p>Sprawdź link i wyszukaj jeszcze raz.</p> 
	</div>
	<form action="#" method="post" class="well form-search">
		{% if form_errors(form) %}
			<div class="alert alert-error">
			{{ form_errors(form) }}
			</div>
		{% endif %}
		{{ form_widget(form.url, {'attr':{'class':'input-xlarge', 'placeholder':'Adres filmu'}}) }}
		{{ form_rest(form) }}
		<input type="submit" name="submit" value="Ściągnij" class="btn btn-primary" />
	</form>
{% else %}
	{% if video|default(false) %}
		<div class="alert alert-success">
			<a class="close">×</a>
			<strong>Link do filmu został znaleziony!</strong> Kliknij prawym klawiszem a następnie wybierz "zapisz link jako"
		</div>
		<p>
		<a href="{{ video }}" class="btn btn-success"><i class="icon-ok icon-white"></i> Pobierz!</a> ({{ data.file_size|default('nie podano rozmiaru pliku video') }} b)
		</p>
		<a href="/" class="btn btn-primary"><i class="icon-random icon-white"></i>Wyszukaj jeszcze raz.</a>
	{% else %}
	<p> Wklej adres interesującego ciebie filmu z <a href="http://itvp.pl">iTVP.pl</a></p>
	<form action="#" method="post" class="well form-search">
		{% if form_errors(form) %}
			<div class="alert alert-error">
			{{ form_errors(form) }}
			</div>
		{% endif %}
		{{ form_widget(form.url, {'attr':{'class':'input-xlarge', 'placeholder':'Adres filmu'}}) }}
		{{ form_rest(form) }}
		<input type="submit" name="submit" value="Ściągnij" class="btn btn-primary" />
	</form>
	{% endif %}
{% endif %}
	<span class='st_facebook_hcount' displayText='Facebook'></span>
	<span class='st_twitter_hcount' displayText='Tweet'></span>
	<!-- Place this tag where you want the +1 button to render. -->
	<div class="g-plusone" data-annotation="inline" data-width="300"></div>
	<!-- Place this tag after the last +1 button tag. -->
	<script type="text/javascript">
		window.___gcfg = {lang: 'pl'};
		(function() {
			var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
			po.src = 'https://apis.google.com/js/plusone.js';
			var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
		})();
	</script>
</div>
<div class="span5">
<script type="text/javascript" id="AdTaily_Widget" src="http://static.adtaily.pl/widget.js#DTjR067KZQoj1X1"></script>
<noscript><a href="http://www.adtaily.pl">Reklama w internecie</a></noscript>
<script type="text/javascript">
$(document).ready(function() { 
    $('#facebookHolder').append('<div id="fb-root"></div>'); 
    $('#facebookHolder').append('<fb:like-box href="http://www.facebook.com/ItvpDownloader" width="292" show-faces="true" stream="false" header="false"></fb:like-box>'); 
  
    jQuery.getScript('http://connect.facebook.net/en_US/all.js#xfbml=1', function() { 
        FB.init({status: true, cookie: true, xfbml: true}); 
    }); 
});
</script>
<div id="facebookHolder"></div>
{% endblock %}

{% block footer %}
&copy; <a href="http://mmx3.pl">mmx3.pl</a> 2012
{% endblock %}